* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #dddbe7;
    color: #111;
}


/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card img {
    display: block;
    width: 100%;
    max-width: 300%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #111;
    font-size: 14px;
}

.nav a:hover {
    text-decoration: underline;
}

/* CONTENT */
.container {
    padding: 60px;
}

.container h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

/* GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* CARD */
.product-card {
    border: 1px solid black;
    padding: 15px;
    position: relative;
    text-align: center;
}

.product-card img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.price {
    margin-bottom: 15px;
    font-size: 15px;
}

.price .old {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}

.price .new {
    font-weight: bold;
}

/* BADGE */
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
}

/* BUTTON */
.btn {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    background: #444;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
    .header {
        flex-direction: column;
        gap: 15px;
    }
}
